#header {
  color: black;
}
div#nav {
 background-color: #00a86b;
  color: black;
}
div#nav ul li a {
  color: white;
}
div#feature {
 background-color: #b4eeb4;
 background-image: url("");
 background-size:contain;
 background-position: right;
 background-repeat:no-repeat;
}
div#footer {
  background-color: #00a86b;
}

.article.column1 {
  background-color: #f08080
}
.article.column2 {
  background-color: #afeeee
}
.article.column3 {
  background-color: #fffacd
}


body {
  background-image: url('https://images.all-free-download.com/images/graphiclarge/herbal_background_leaves_flowers_decoration_repeating_design_6830460.jpg');
  background-size: cover;

}
h1{
   color: black;
   font-family: 'JelleeBold';
   font-weight: normal;
   font-style: normal;
}
h2 , h3, a{
   color: white;
   font-family: 'JelleeBold';
   font-weight: normal;
   font-style: normal;
}
p{
     color: white;
   font-family: 'JelleeBold';
   font-weight: normal;
   font-style: normal;
}
